*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 247, 238);
}
.container{

    width: 100%;
    height: 100vh;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.timer span{
    font-size: 4rem;
    /* width: fit-content; */
}
.timer{
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    width: 100%;
    max-width: 1200px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* flex-direction: column; */
}



.timer-buttons{
    width: 50%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-buttons > button{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    background-color: rgb(252, 247, 238);;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.timer-buttons > button:hover{
    background-color: rgb(240, 215, 169);
}